.success {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  .buttonWrap {
    position: relative;
    width: 100%;

    button {
      position: absolute;
      top: 7px;
      right: 0;
      align-self: flex-end;
      margin-top: 10px;
      width: 80px;
      height: 38px;
    }
  }

  hr {
    margin-left: -16px;
    width: calc(100% + 32px);
    height: 1px;
    color: #eceef1;
    border: none;
    background-color: #eceef1;
  }

  .head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .cross {
      width: 13px;
      height: 13px;
      background: url('../../../assets/icons/cross.png') no-repeat center/cover;
    }

    .title {
      margin-bottom: 10px;
      height: 40px;
      font-size: 23.4px;
      text-transform: none;
    }
  }

  .description {
    margin-top: 16px;
    margin-bottom: 15px;
    text-transform: none;
  }
}

.window {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 395px;
  height: 190px;
  padding: 10px 16px  0 16px;
  border: solid 1px #666;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.fake {
  display: none;
}

@media screen and (max-width: 767px) {
  .window {
    width: 360px;
    box-sizing: border-box;
  }
}
