@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('./font-styles.scss');

body {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}

button {
  padding: 0;
  cursor: pointer;
  border: 0;
  background: 0;
}
